<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>NCR - Client</title>
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">

<!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <h4></h4>
        </div>
        <div class="row">
            <h4>Clients</h4>
        </div>
        <form action="/clients" method="post">
            <div class="row">
                <div class="four columns">
                    <label for="name">Name</label>
                    <input class="u-full-width" type="text" placeholder="Name" id="name" name="name">
                </div>
                <div class="four columns">
                    <label for="mobile">Mobile</label>
                    <input class="u-full-width" type="text" placeholder="Mobile" id="mobile" name="mobile">
                </div>
                <div class="four columns">
                    <label for="age">Age</label>
                    <input class="u-full-width" type="text" placeholder="Age" id="age" name="age">
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <label for="gender">Gender</label>
                    <input class="u-full-width" type="text" placeholder="Gender" id="gender" name="gender">
                </div>
                <div class="four columns">
                    <label for="nationality">Nationality</label>
                    <input class="u-full-width" type="text" placeholder="Nationality" id="nationality" name="nationality">
                </div>
                <div class="four columns">
                    <label for="hospital">Hospital</label>
                    <input class="u-full-width" type="text" placeholder="Hospital" id="hospital" name="hospital">
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>

<!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
